doctype html 
head 
title  This is the Title 
include style.css 
body 
   nav#navbar 
      ul 
        li #[a(href="/") Home ] 
        li #[a(href="/")  About ]
        li #[a(href="/") About ]
        li #[a(href="/") Services] 
        li #[a(href="/") Class Info] 
        li #[a(href="/") Contact]
    section#introSection 
        div Welcome to Laksh's Dance Acadmy 
        div.small Eat Sleep Dance Repeat
    section#sponserSection 
        h3 Our sponsers 
    footer#footer 
        | our footer here 

       




script 
include index.js  